<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>

<body class="bg-gray-100 font-sans antialiased">
    <div class="flex min-h-screen">
        <% include ../partials/sidebarAdmin %> <!-- Sidebar di kiri -->

            <div class="flex-1 p-6">
                <div class="container mx-auto bg-white p-6 rounded-lg shadow-md">
                    <h1 class="text-3xl font-bold mb-6 text-gray-800">Jadwal Rapat</h1>

                    <!-- Menambahkan tombol ekspor -->
                    <div class="mb-4">
                        <a href="/rapat/export/upcoming/rapat/pdf" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md mb-4 inline-block">Ekspor PDF</a>
                    </div>

                    <!-- Menampilkan Rapat yang akan datang -->
                    <div class="mb-4">
                        <% if (rapat.length > 0) { %>
                            <ul class="space-y-4">
                                <% rapat.forEach(item => { %>
                                    <li class="bg-gray-100 p-4 rounded-md shadow-sm">
                                        <h3 class="font-semibold text-gray-800">
                                            <%= item.judul %>
                                        </h3>
                                        <p class="text-gray-600">Tanggal: <%= new Date(item.tanggal).toLocaleDateString('id-ID') %>
                                        </p>
                                        <p class="text-gray-600">Tempat: <%= item.tempat %>
                                        </p>
                                        <a href="/rapat/detail/<%= item.id_rapat %>" class="text-blue-600">Lihat Detail</a>
                                    </li>
                                <% }) %>
                            </ul>
                        <% } else { %>
                            <p class="text-gray-600">Tidak ada rapat yang akan datang.</p>
                        <% } %>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>
